# Entorno virtual
venv/
.env/
*.env
venv310/
.env/
*.env


# Configuración de usuario local
.dvc/config.local
.dvc/tmp/
.dvc/cache/
.dvc/plots/
.dvc/experiments/

!.dvc/ 
# <- EXCEPCIÓN IMPORTANTE
# Archivos generados por DVC

# Datos crudos y datos procesados (si no quieres que Git guarde los datasets grandes)
data/**
!data/**/
!data/**/*.dvc

.mlruns/
mlruns/


models/**/*.pkl
!models/**/*.dvc


# Pycache
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs
logs/
*.log

# Visual Studio Code
.vscode/
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
